{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="{% static 'GymControl/css/links.css' %}">
    <link rel="stylesheet" href="{% static 'GymControl/css/home.css' %}">
</head>
<body>

    {% include 'GymControl/common/links.html' %}

    <main class="home-container">
        <section class="hero">
            <div class="hero-text">
                <h1>Bem-vindo ao GymControl</h1>
                <p>
                    Alcance seus objetivos com treinos personalizados, 
                    desenvolvidos por profissionais qualificados especialmente para você.
                </p>

                <div class="hero-buttons">
                    <a href="{% url 'GymControl:treinos' %}" class="primary-btn">Ver treinos</a>
                </div>
            </div>
        </section>
    </main>

</body>
</html>