<nav class="navbar">
    <div class="nav-left">
        <span class="logo">GymControl</span>

        <a href="{% url 'GymControl:home' %}">Home</a>
        <a href="{% url 'GymControl:treinos' %}">Treinos</a>
    </div>

    <div class="nav-right">
        {% if user.is_authenticated %}
            <span class="user">Olá, {{ user.username }}</span>

            <a href="{% url 'GymControl:logout' %}" class="logout-btn">
            Sair
            </a>
        {% else %}
            <a href="{% url 'GymControl:login' %}" class="login-link">Login</a>
            <a href="{% url 'GymControl:cadastro' %}" class="signup-btn">Criar conta</a>
        {% endif %}
    </div>
</nav>