<nav>
    <div class="nav-left">
        <a href="{% url 'GymControl:home' %}">Home</a>
        <a href="{% url 'GymControl:treinos' %}">Treinos</a>
        <a href="{% url 'GymControl:avaliacao' %}">Avaliação Física</a>
    </div>

    <div class="nav-right">
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'GymControl:logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'GymControl:login' %}">Login</a>
            <a href="{% url 'GymControl:cadastro' %}">Criar conta</a>
        {% endif %}
    </div>
</nav>