{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Recuperar senha</title>
    <link rel="stylesheet" href="{% static 'GymControl/css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <h1>Recuperar senha</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar email</button>
        </form>

        <p>
            <a href="{% url 'GymControl:login' %}">Voltar para login</a>
        </p>
    </div>
</body>
</html>