{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>treino</title>
    <link rel="stylesheet" href="{% static 'Gymcontrol/css/treinos.css' %}">
    <link rel="stylesheet" href="{% static 'GymControl/css/links.css' %}">
</head>
<body>
    {% include 'GymControl/links.html' %}
    {% for treino in treinos %}
        <a href="{% url 'GymControl:exerciciosTreino' treino.id %}">
            <div>
                <h2>{{ treino.nome }}</h2>
            </div>
        </a>
    {% empty %}
        <p>Nenhum treino encontrado.</p>
    {% endfor %}
</body>
</html>
