body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
}

/* organiza tudo em coluna */
form {
    display: flex;
    flex-direction: column;
}

/* espaço entre elementos */
label {
    margin-top: 10px;
    font-size: 14px;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* botão */
button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #2c3e50;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #1f2d3a;
}

/* erro */
.error {
    color: red;
    font-size: 13px;
}